@model IEnumerable<ocurrenceio_aspnet.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Ocorrências</h1>

<p>
    <a class="btn btn-dark" role="button" asp-action="Create">Criar uma nova Ocorrência</a>
</p>
<table class="table table-striped table-hover">
    <thead style="background-color: #F97316;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Estado
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.ListReportState.Any()) {
                    @item.ListReportState.LastOrDefault().State
                }
            </td>
            <td>
                <a class="btn btn-secondary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
            </td>
            <td>
                <a class="btn btn-warning" role="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
            </td>
            <td>
                <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
